name: screen_off
description: A Flutter plugin to turn on and off the screen using the proximity sensor.
version: 0.0.5
homepage: https://github.com/Musaddiq625/screen_off
repository: https://github.com/Musaddiq625/screen_off
issue_tracker: https://github.com/Musaddiq625/screen_off/issues

environment:
  sdk: ^3.7.0
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.musaddiq625.screen_off
        pluginClass: ScreenOffPlugin
      ios:
        pluginClass: ScreenOffPlugin
